# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import pprint as print
from citipy import citipy
    

# Import API key
from api_keys import g_key

#configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
file = '..\output_data\WeatherPY.csv'
file_df = pd.read_csv(file, index_col=0)
file_df.head()

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Data
0,Bethel,41.3712,-73.4140,264.26,48,1,4.12,US,1611968959
1,Geraldton,-28.7667,114.6000,305.15,22,0,11.83,AU,1611968959
2,Bredasdorp,-34.5322,20.0403,292.85,78,91,2.00,ZA,1611968865
3,Laas,46.6166,10.7002,273.71,93,90,2.64,IT,1611968960
4,Darhan,49.4867,105.9228,256.55,92,100,0.62,MN,1611968960

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
locations=file_df[["Latitude", "Longitude"]]

humidity=file_df['Humidity']

In [4]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                point_radius=1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [12]:
#rank order wind --> cloudiness --> max temp, 90

wind_filter=file_df.loc[:, 'Wind Speed']<=5
wind_ideal=file_df.loc[wind_filter, :]

cloud_filter=wind_ideal.loc[:,'Cloudiness']<=25
cloud_ideal=wind_ideal.loc[cloud_filter, :]
#cloud_ideal.head() 

temp_filter=cloud_ideal.loc[:, "Max Temp"]<=363.15
temp_ideal=cloud_ideal.loc[temp_filter, :]
temp_ideal.head()

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Data
0,Bethel,41.3712,-73.4140,264.26,48,0,4.12,US,1611968959
2,Bredasdorp,-34.5322,20.0403,292.85,78,0,2.00,ZA,1611968865
3,Laas,46.6166,10.7002,273.71,93,0,2.64,IT,1611968960
4,Darhan,49.4867,105.9228,256.55,92,0,0.62,MN,1611968960
5,Kassala,15.4510,36.4000,291.70,92,0,3.32,SD,1611968960

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [25]:
temp_ideal['Hotel Name']
hotel_df=pd.DataFrame(temp_ideal)
hotel_df.head()

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Data,Hotel Name
0,Bethel,41.3712,-73.4140,264.26,48,0,4.12,US,1611968959,
2,Bredasdorp,-34.5322,20.0403,292.85,78,0,2.00,ZA,1611968865,
3,Laas,46.6166,10.7002,273.71,93,0,2.64,IT,1611968960,
4,Darhan,49.4867,105.9228,256.55,92,0,0.62,MN,1611968960,
5,Kassala,15.4510,36.4000,291.70,92,0,3.32,SD,1611968960,

In [ ]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {
    "location": "Latitude, Longitude",
    "rankby": "distance",
    "type": "hotel",
    "key": g_key,
}

For Hotel Name in hotel_df.iterrows():
    hotel_type = row

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure